/** LINKS **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/** BODY **/
body {
  background: white;
  font-family: Roboto;
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.block {
  display: block;
  width: 100%;
}

.block-main {
  display: block;
  width: 100%;
}

.block-ex {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

#search-box-container, #error-main-container {
  /**background: rgb(127, 178, 135); **/
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 80px;
  width: 65%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-left: calc(20% - 45px);
}

#sign-in-container {
  background-color: rgb(255, 255, 255);
  
  min-width: 400px;
  width: 85%;
  height: 370px;

  padding: 20px;
  margin-top: 150px;
  margin-bottom: 80px;
  
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;

  margin-left: calc(10% - 45px);
}

@media (max-width: 520px) {
  #sign-in-container {
    margin-top: 210px;
  }
}

#error-main-container {
  width: 110%;
  text-align: center;
  margin-left: calc(10% - 45px);
}

@media (max-width: 900px) {

  #error-main-container {
    width: 75%;
  }
}

#search-container {
  background:white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;

  border-color: green;
  border: solid;

  transition: box-shadow 0.15s;
}

#search-container:focus-within {
  box-shadow: 0 0 2px rgba(0,0,0,0.75);
}

.search-inner-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.search {
  font-size: 20px;
  margin-left: 14px;

  min-width: 150px;
  width: calc(100% - 00px);

  box-sizing: border-box;
  border: 1px solid white;

  padding: 14px;

  outline: none;
  border: none;
  background: transparent;

}

.search-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  padding-left: 14px;
}

.x-icon {
  height: 12px;
  margin-right: 10px;
}

h2,
label,
p {
  font-family: Roboto;
  font-size: 50px;
  color: black;
  width: 00px;
  margin: 8px 0;
}

.explore-title {
  font-size: 55px;
  font-family: Roboto;
}

.explore-container,
.sign-in-title-container,
.error-container {
  display: flex;

  align-items: center;
  margin-bottom: 10px;
  padding-left: 25px;
}

.sign-in-title-container {
  justify-content: center;
  padding-right: 40px;
}

.explore-icon {
  height: 50px;
  padding: 10px;
  margin-left: -10px;
  margin-right: 10px;
}

.sign-in-icon {
  height: 60px;
  padding: 10px;
  margin-left: -10px;
  margin-right: 10px;
}

.explore-info {
  display: flex;
  color: #4a4a4a;;
  
  align-items: start;
  text-align: left;
  line-height: 1.6;
  /* Align items in the center vertically */
  margin-bottom: 50px;
  padding-left: 25px;

  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}


/** HEADER **/

.header {
  height: 70px;
  display: flex;
  
  flex-direction: row;
  opacity: 0.98;
  
  padding-top: 3px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: rgb(222, 239, 218);
  border-color: black;
  border-width: thin;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}



.left-section {
  display: flex;
  align-items: center;
  
  margin-right: -5px;
  margin-left: 13px;
  
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-right: 20px;
}

.right-section-inner {
  display: flex;
  min-width: 110px;
}


.leaf-icon {
  height: 45px;
  padding-right: 5px;
  margin-right: 15px;
  border-right: solid;
}

@media (min-width:490px) and (max-width: 520px) {

  .leaf-icon {
    margin-right: 0px;
  }
  .right-section {
    margin-right: 5px;
  }
}

@media (max-width: 520px) {
  .header {
    height: 140px;
    display: block;
    float: right;
    text-align: right;
  }

  .left-section {
    padding-top: 15px;
    justify-content: center;
  }

  .right-section {
    justify-content: center;
    margin-right: 5px;
    padding-top: 15px;
    padding-left: 13px;
  }

  .leaf-icon {
    margin-right: 0px;
    border-right: none;
  }
}

.title {
  text-decoration: none;
  font-size: 35px;
  font-family: Roboto;
  font-weight: 300;

  color: black;
  width: 200px;
}

.title:hover{
  cursor: pointer;
}

.sign-in-container {
  flex: 0.9;
  height: 34px;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.sign-in-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  /* Adjust the width to change the length of the border */
  border-bottom: 1px solid transparent;
  /* Set a transparent border by default */
  transition: width 0.15s, border-bottom-color 0.15s;
  /* Add width and border-bottom-color transitions */
}

.sign-in-container:hover::after {
  width: 50%;
  /* Adjust the width on hover */
  border-bottom-color: green;
  /* Change border color on hover */
}

.sign-in-container:hover {
  color: green;
  cursor: pointer;
}

.sign-in-container:active {
  color: rgb(0, 72, 0);
  cursor: pointer;
  align-items: center;
}


/** RIGHT SECTION**/

.git-icon {
  height: 32px;
  border-radius: 16px;

  cursor: pointer;
}

.title-link {
  text-decoration: none;
  color: black;
}

.LINK {
  text-decoration: none;
  color: black;
}


.LINK:active {
  color:rgb(0, 72, 0);
}

.LINK:hover {
  color: green;
}

.LINK:visited {
  text-decoration: none;
  color: inherit;
}


.header-name-left {
  text-decoration: none;
  flex: 0.9;
  height: 34px;
  font-size: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  padding-left: 8px;
  padding-right: 8px;
}

.header-name-left::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: width 0.15s, border-bottom-color 0.15s;
}

.header-name-left:hover::after {
  width: 80%;
  /* Adjust the width on hover */
  border-bottom-color: green;
  /* Change border color on hover */
}

.header-name-left:hover {
  color: green;
  cursor: pointer;
  align-items: center;
}

.header-name-left:active {
  color: rgb(0, 72, 0);
  cursor: pointer;
  align-items: center;
}

.spacer {
  height: 1px;
}

/* EXAMPLE PLANTS GRID HERE */

#example-plants-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 40px;
  border-width: 1px;
}

@media (max-width:750px) {
  #example-plants-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width:751px) and (max-width: 1099px) {
  #example-plants-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width:1100px) and (max-width: 1399px) {
  #example-plants-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width:1400px) {
  #example-plants-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.plant-block {
  background-color: rgb(222, 239, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 5px;
  border: solid;
  border-radius: 5px;
}

.plant-preview {
  height: 120px;
}

.plant-info {
  text-align: left;
}

.plant-scientific-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 2px;
}

.plant-common-name {
  font-family: Roboto;
  font-size: 17px;
  color: #4a4a4a;
}


/** ABOUT PAGE **/

.section-title {
  font-size: 35px;
  font-family: Roboto;
  margin-bottom: 13px;
}

.about-page-section {
  width: 80%;
  padding: 20px;

  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);

}

.section-block {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.section-info {
  color: #4a4a4a;
  line-height: 29px;
  margin-left: 26px;
  font-family: Roboto;
  font-size: 18px;
  display: block;
}

.section-icon {
  height: 37px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 11px;
  margin-left: -10px;
  margin-right: 10px;
}

.contact-section-icon {
  height: 27px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 11px;
  margin-left: -10px;
  margin-right: 10px;
}

.section-container {
  display: flex;

  align-items: center;
  /* Align items in the center vertically */
  margin-bottom: 10px;
  padding-left: 25px;
}

.section-container-two {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Align items in the center vertically */
  margin-bottom: 10px;
  padding-right: 20px;
}

.section-container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Align items in the center vertically */
  margin-bottom: 10px;
  padding-left: -50px;
}


/** DATA ??**/
.data-section-info {
  margin-bottom: 20px;
}

.image-section {
  display: flex;

  align-items: center;
  justify-content: center;
}

.api-icon {
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 11px;
  margin-left: -10px;
  margin-right: 10px;
}

/** CONTACT US**/
.line {
  width: 85%;
  margin-bottom: 50px;
  font-weight: 400;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.about-page-contact-section {
  background-color: rgb(222, 239, 218);
  border-radius: 7px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);

  min-width: 350px;
  width: 600px;
  padding: 20px;

  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: start;
}



.another-one {
  width: 100%;
  display: block;
}

.contact-form-block {
  display: inline-block;
  margin-top: 30px;
  width: 95%;
  
}

.contact-block {
  width: 95%;
  margin-left: 30px;
  display: flex;
  justify-content: start;
}

@media (max-width:1000px) {
  .about-page-contact-section {
    width: 55%;
  }

  .contact-block {
  margin-left: 10px;

}

}

.contact-form-top-block {
  width: 100%;
  padding-bottom: 20px;
}

.contact-form-bottom-block {
  width: 100%;
  display: inline-block;
}

.contact-form-top-block-two {
  display: block;
  align-items: center;
  justify-content:space-between;
  width: 100%;
}


.contact-form-inner-block {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.name-info, 
.email-info,
.message-info,
.username-info {
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.contact-info {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}

.name-info,
.email-info,
.username-info {
  display: flex;
  font-size: 20px;
  padding: 14px;

  min-width: 100px;
  width: 95%;
  outline: none;
  border: none;

  transition: box-shadow 0.15s;
}

.name-info {
  margin-right: 30px;
}


.name-info:focus-within,
.email-info:focus-within,
.message-info:focus-within {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.message-info {
  font-size: 20px;
  font-family: Roboto;

  min-width: 150px;
  width: 95%;
  height: 150px;

  padding: 14px;
  outline: none;
  resize: none;
  border: none;

  transition: box-shadow 0.15s;

}

@media (min-width:300px) and (max-width: 1000px) {
  .contact-form-top-block-two {
    display: block;
  }

}


.button-block {
  display: flex;
  justify-content: center;
}

.contact-button {
  background: rgb(88, 141, 76);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
  font-size: 18px;
  width: 83%;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.contact-button:hover {
  background: rgb(84, 135, 71);
}

.contact-button:active{
  background: rgb(82, 133, 70);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

/** ERROR PAGE **/


.link-container {
  display: flex;
  margin-left: 25px;
}


.link-back-1, .link-back-2 {
  background: rgb(88, 141, 76);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;

  font-size: 18px;
  width: 30%;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.link-back-2 {
  background: white;
  border: solid;
  color: rgb(88, 141, 76);
  border-radius: 10px;
}

@media (max-width: 400px) {
  .link-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
  }

  .link-back-1,
  .link-back-2 {
    width: 50%;
  }
}

.link-back-1:hover {
  background-color: rgb(72, 122, 61);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.link-back-1:active {
  background-color: rgb(51, 96, 39);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}


.link-back-2:hover {
  color: rgb(72, 122, 61);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.link-back-2:active {
  color: rgb(51, 96, 39);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.error-info-first, 
.error-info-second {
  display: flex;
  color: #4a4a4a;
  ;

  align-items: start;
  text-align: left;
  line-height: 1.6;
  /* Align items in the center vertically */
  margin-bottom: 15px;
  padding-left: 25px;

  font-size: 20px;
  font-family: "Roboto Mono", monospace;
}

.error-info-second {
  margin-bottom: 50px;
  font-size: 16px;
}


/* SIGN IN PAGE */

.sign-in-block {
  width: 100%;
  padding-bottom: 5px;
}

.sign-in-inner-block{
  display: block;
  width: 100%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sign-in-line {
  width: 85%;
  margin-bottom: 50px;
  font-weight: 400;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.sign-in-info {
  display: flex;
  justify-content: start;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: 500;
}

.log-in-button {
  background: rgb(88, 141, 76);
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;

  font-size: 18px;
  width: 97.5%;
  margin-top: 10px;
  margin-bottom: 20px;

  padding-top: 13px;
  padding-bottom: 13px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.log-in-button:hover {
  background: rgb(84, 135, 71);
}

.log-in-button:active {
  background: rgb(82, 133, 70);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
}

.sign-in-extras {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 5px;
}

.forgot-password {
  margin-bottom: 30px;
  color: #1982c4;
}

.alternate-sign-in-title {
  font-size: 22px;
  margin-bottom: 8px;
  
}

.create {
  margin-right: 5px;
  padding-right: 5px;
  border-right: solid;
  border-color: black;
  color: #1982c4;
}

.guest {
  color: #1982c4;
}

.forgot-password:hover,
.guest:hover, 
.create:hover {
  color: #0966a0;
  cursor: pointer;
}

.forgot-password:active,
.guest:active,
.create:active {
  color: #02426a;
  cursor: pointer;
}

/* FOOTER */

.footer,
.error-footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(248, 248, 248);
  height: 175px;
  width: 100vw;
  padding-top: 40px;
  color: #111;

  display: flex;
  align-items: start;
  justify-content: center;
}


.error-footer {
  position: absolute;

}

@media (max-width: 350px) or (max-height: 700px) {
  .error-footer {
    position: relative;
  }
}


@media (max-width: 480px) {
  .footer {
    /** margin-left: 60px; **/
    padding-left: 30px;
    width: 100%;
    /** FIX **/
  }
}

.footer-container {
  display: flex;
  align-items: start;
  justify-content: space-between;

  width: 80%;
}

.footer-title {
  font-size: 17px;
  margin-bottom: 5px;
  color: green;
}

.footer-content {
  font-size: 15px;
  line-height: 1.5;
  padding: 8px 12px 8px 12px;
}

.footer-content:hover {
  color: green;
  cursor: pointer;
}

.footer-content:active {
  color: rgb(0, 85, 0);
  cursor: pointer;
}

#github-container {
  width: 100px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.git-icon-footer {
  height: 22px;
  border-radius: 16px;

  margin-right: -5px;
  margin-left: 8px;

  cursor: pointer;
}

@media (max-width: 430px) {
  .footer {

    height: 450px;
  }

  .footer-container {
    margin-left: calc(30% + 10px);
    display: block;
  }

  .footer-section {
    margin-bottom: 25px;
  }
}

.errors {
  font-size: 18px;
  margin-left: 5px;
  font-weight: 500;
  color: red;
}

/*PLANT PAGE*/


.link-to-plant {
  text-decoration: none;
  color: black;
}


.link-to-plant:active {
  color: black;
}

.link-to-plant:hover {
  color: black;
}

.link-to-plant:visited {
  text-decoration: none;
  color: inherit;
}

.plant-block-main {
  display: block;
  width: 100vw;
  max-width: 100%;
}


.plant-page-block{
  display: block;
  width: 100vw;
  max-width: 90%;

}

#plant-box-container {
  /**background: rgb(127, 178, 135); **/
  padding: 20px;
  margin-top: 90px;
  width: 65%;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-left: calc(10% - 45px);
}

.plant-title-container {
  display: flex;
}

.plant-container {
  margin-bottom: 10px;
  padding-left: 25px;
}


.divider {
  width: 90%;
  margin-bottom: 40px;
  font-weight: 400;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

@media (max-width: 520px) {
  #plant-box-container {
    margin-top: 180px;
  }

  .plant-title-container {
    margin-left: 50px;
    display: block;
  }

  .plant-container {
    padding-left: 0px;
  }

  .divider {
    width: 80%;
  }

}


.divider-2 {
  width: 70%;
  margin-bottom: 20px;
  float: left;
  font-weight: 400;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.plant-img-block {
  background-color: rgb(222, 239, 218);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 275px;
  margin-bottom: 5px;
  border: solid;
  border-radius: 5px;
}

@media (max-width: 520px) { 
  .plant-img-block { 
    margin-bottom: 15px;
  }

}


.plant-title {
  display: flex;
  font-size: 55px;
  font-family: Roboto;
  text-align: start;
}

.plant-title-2 {
  display: flex;
  color: #4a4a4a;

  align-items: start;
  text-align: left;
  line-height: 1.6;
  /* Align items in the center vertically */
  margin-bottom: 50px;

  font-size: 25px;
  font-family: "Roboto Mono", monospace;
}

.plant-page-header-container {
  display: flex;
  margin-bottom: 20px;
}

.plant-page-header {
  font-weight: 400;
  font-size: 40px;
  margin-top: 7px;
  margin-left: -5px;
}

.plant-page-header-icon,
.plant-page-header-icon-1,
.plant-page-header-icon-2 {
  height: 40px;
  padding: 10px;
  margin-left: -10px;
  margin-right: 10px;
}

.plant-page-header-icon-1 {
  height: 43px;
}

.plant-page-header-icon-2 {
  height: 36px;
  margin-top: 3px;
}

.plant-info-container {
  display: flex;
}

/*SIDEBAR*/

.sidebar {
  /*border: solid;*/
  flex: none;
  width: 25%;
  height: 300px;
  margin-top: 15px;
  margin-left: 60px;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .plant-info-container {
    display: block;
    width: 100%;
  }

  .sidebar {
    margin-left: 100px;
    position: relative;
    width: 70%;
  }

}

@media (max-width: 520px) {
  .sidebar {
    margin-left: 60px;
  }
}

.sidebar-title {
  background: rgb(88, 141, 76);
  color: white;
  border: none;
  border-radius: 5px;

  font-size: 20px;
  width: 90%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;

  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.vl {
  border-left: solid;
  border-left-color: rgb(88, 141, 76);
  margin-left: 20px;
  margin-top: 10px;
}

.sidebar-section {
  border-radius: 5px;
  width: 80%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 18px;
}

.sidebar-section:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}

.sidebar-section:active {
  background-color: rgb(237, 237, 237);
  cursor: pointer;
}

.sections-container-outer {
  width: 75%;
}

.sections-container-inner,
.sections-container-inner-1,
.conservation-container,
.references-container {
  /**background: rgb(127, 178, 135); **/
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-bottom: 60px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 40px;
  width: 90%;
}


@media (max-width: 900px) {
  .sections-container-inner,
  .sections-container-inner-1,
  .conservation-container,
  .references-container {
      margin-left: 0px;
    }
}


.sections-container-inner-1 {
  margin-bottom: 30px;
}

.class-container {
  margin-left: 60px;
  width: 90%;
}

.classes-outer-container {
  display: flex;
  justify-content: start;
  margin-top: 40px;
  margin-left: 40px;
}

.classes-container {
  margin-left: -110px;
}

/*CLASSIFY*/

.triangle {
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  /* Adjust the size of the triangle by changing this value */
  border-bottom: 220px solid rgb(222, 239, 218);
  /* Adjust the size and color of the triangle by changing these values */
  transform: rotate(90deg);
}

@media (max-width: 520px) {
  .triangle {
    transform: rotate(0deg);
    transform: scaleX(-1);
    margin-left: -40px;
  }
}

.class-scien {
  display: flex;
  justify-content: start;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  width: 82%;
}

.class-subtitle {
  text-align: start;
  display: flex;
  justify-content: start;
}

.class-1 {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.class-k,
.class-p,
.class-c,
.class-o,
.class-f,
.class-s {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  color: rgb(52, 106, 40);
  margin-bottom: 5px;
}

.class-k {
  margin-top: 30px;
  margin-left: 0px;
}

.class-p {
  margin-left: 35px;
}

.class-c {
  margin-left: 70px;
}

.class-o {
  margin-left: 105px;
}

.class-f {
  margin-left: 140px;
}

.class-s {
  margin-left: 175px;
}

@media (max-width: 520px) {
  .class-k,
  .class-p,
  .class-c,
  .class-o,
  .class-f,
  .class-s {
    margin-bottom: 15px;
  }

  .class-k {
    margin-top: 0px;
  }
  .class-p {
    margin-left: 22px;
  }
  .class-c {
    margin-left: 45px;
  }
  
  .class-o {
    margin-left: 67px;
  }
  
  .class-f {
    margin-left: 95px;
  }
  
  .class-s {
    margin-left: 120px;
  }
}


.class-2 {
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin-left: 10px;
}

.map {
  display: flex;
  width: 82%;
  min-height: 75px;
  min-width: 275px;
  border: solid;
}

/*CONSERVATION*/

.conservation-container {
  width: 82%;
}

.conservation-title {
  display: flex;
  justify-content: start;
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 30px;
}

.conservation-title-2 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 35px;
}

.conservation-subtitle {
  font-size: 20px;
  font-weight: 400;
  color: black;
  margin-left: 10px;
  margin-top: 3px;
}

.conservation-subtitle-2 {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 30px;
}

.conservation-subtitle-3 {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: black;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 5px;
}


.vl-2 {
  border-left: solid;
  border-width: 2px;
  border-radius: 1px;
  border-left-color: rgb(182, 182, 182);
  margin-left: 20px;
  margin-top: 10px;
}

.conservation-status-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
  margin-bottom: 70px;
  width: 100%;
}

.circles-top,
.circles-top-top,
.circles-top-bottom,
.circles-bottom,
.circles-bottom-top,
.circles-bottom-bottom {
  display: flex;
}

@media (max-width: 1200px) {
  .conservation-status-container {
    display: block;
  }

  .circles-top {
    margin-bottom: 60px;
  }

}

@media (max-width: 475px) {
  .circles-top,
  .circles-bottom {
      display: block;
  }

  .circles-top {
    margin-bottom: 40px;
  }

  .circles-top-top,
  .circles-bottom-top {
    margin-bottom: 40px;
  }
  /*may need fixing*/
}


.circle-container {
  display: block;
  text-align: center;
  height: 90px;
}


.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 7px;
  margin: 5px;
  border-radius: 50%;
}

.visible {
  font-size: 20px;
  font-weight: 500;
  width: 80px;
  height: 80px;
  padding: 7px;
  /*color: white;*/
  background-color: rgb(88, 141, 76);
  margin-top: -3px;
}

.hidden {
  font-size: 17px;
  width: 60px;
  height: 60px;
  background-color: rgb(222, 239, 218);
  border: solid;
  border-color: rgb(88, 141, 76);
}

.text-visible {
  /*color: white;*/
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 10px;
  /* Adjust as needed for spacing between text and circle */
}

.text-hidden {
  display: none;
}

.bottom-text-visible {
  /*color: white;*/
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 400;
  
  margin-top: 5px;
  width: 90px;
  
  /* Adjust as needed for spacing between text and circle */
}

.bottom-text-hidden {
  display: none;
}

/*REFERENCES*/

.references-container {
  width: 82%;
}

.api-references-container,
.tax-references-container {
  max-width: 700px;
  margin-right: 25px;
  margin-bottom: 40px;
}

.references-title {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 23px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 15px;
}